# Archivos de configuración del IDE
/.idea/
../.idea

# Dependencias de PHP (Composer)
#/vendor/
/src/vendor/

# Carpeta de Docker para la base de datos
/.docker/mariadb/

# Composer lock (opcional, si no quieres versionarlo)
/src/composer.lock
